@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Regular.woff2'),
       url('../public/fonts/OpenSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-SemiBold.woff2'),
       url('../public/fonts/OpenSans-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Medium.woff2'),
       url('../public/fonts/Roboto-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  --header-height: 137px;
  --white: #ffffff;
  --barely-blue: #e5e5e5;
  --semilight-blue: #eff3f8;
  --blue: #5daaff;
  --dark-blue: #2876cc;
  --barely-grey: #f8faff;
  --ebeb-grey: #ebebeb;
  --light-grey: #b7b7b7;
  --grey: #606f7a;
}
